/* Responsive Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;  /* Show hamburger icon */
    }

    nav ul {
        display: none;  /* Hide menu links on small screens */
        background: white;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 17px;
        height: auto;
        width: 200px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 50px;
    }

    nav ul li {
        content:white;
        display: block;  /* Stack menu items vertically */
        background: #3c8a5a;
        height: 50px;
    }

    #menuitems.show {
        display: none;
      }
}
@media (max-width: 500px) {
.hero {
    background: #3c8a5a;
    padding: 2rem;
    height: 160px;
}

.hero-image {
    height: 180px;
    width: 100%;  
}

}



@media (min-width: 500px) {
    .hero-image {
        height: 250px;
        width: 100%; 
       border-bottom-right-radius: 15px;
       border-bottom-left-radius: 15px;
                
    }

    .hero {
        background: #3c8a5a;
        padding: 2rem;
        height: 250px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}


@media (max-width: 768px) {
.logo {
    position: absolute;
    top: 0;   /* Adjust as needed */
    left: 10px;  /* Adjust as needed */
    width: 100px; /* Adjust size */
    height: 90px;
    
}
}


@media (max-width: 768px) {
.heading {
    color: #5abe56;
    font-size: 50px;
    height: 50px;
   
}
}

@media (max-width: 768px) {
.heading1 {
    color: #5abe56;
    font-size: 40px;
}

}

 @media (max-width: 768px) {
.juice-item {
    height: 200px;
    padding-left: 0px;
    margin-top: 70px;
    display: flex;
    position: relative;
    width: 250px;
}
.juices {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  gap: 0px; /* Space between items */

} 
}



 
     

 